[*.{cs,vb}]

# IDE0044: Add readonly modifier
dotnet_style_readonly_field = true:none

# SA1625: Element documentation should not be copied and pasted
dotnet_diagnostic.SA1625.severity = none

# SA1602: Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = none

# SA0001: XML comment analysis is disabled due to project configuration
dotnet_diagnostic.SA0001.severity = none

# SA1307: Accessible fields should begin with upper-case letter
dotnet_diagnostic.SA1307.severity = none

# SA1401: Fields should be private
dotnet_diagnostic.SA1401.severity = none

# SA1611: Element parameters should be documented
dotnet_diagnostic.SA1611.severity = none
